
.btn-div-x{
    text-align: center;
    height:20px;
    width:20px;
	border-radius: 4px;
    float: right;
}

.fondo{
	position : absolute;
	width : 100%;
	height : 100%;
	display: block;
	justify-content: center;
	align-items: center;
}

.capsula{
	background-color: #F8F8F8;
	width: 50%;
	text-align: center;
}

.cien{
	width: 100%;
}


.caja{
    top: 0%;
    height: 80%;
    width: 40%;
    text-align: center;
    margin: 10px;
    border: solid 0.1px;
    border-color: rgb(39, 39, 39);
    border-radius: 13px;
    display: inline-block;
    vertical-align: top
}

.caja2{
    top: 0%;
    width: 40%;
    height: 80%;
    text-align: center;
    margin: 10px;
    display: inline-block;
}


.contenedor{
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    visibility: visible;
}

.menu{
    top: 0%;
}

.redondeado{
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
    width: 50%;
}


.redondeado::placeholder { color: red; font-weight: bold; }

.redondeado2{
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
    width: 100%;
}

.redondeado3{
	border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
    width: 25%;
}

/* POPUP */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	border-radius: 14px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: center;
	transition: .3s ease all;
	color: #BBBBBB;
    color: rgb(197, 98, 98);
    border-color: rgb(197, 98, 98);
	border-radius: 5px;
    text-decoration:none
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup p {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ANIMACIONES*/

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active p { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Seccion de Analisis de Datos*/

.vistas_datos{
	background-color: #fff;
	border-color: #BBBBBB;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	margin-left: 30px;
	margin-right: 0px;
	width: 40%;
	height: 100px;
	box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.2);
}

.vistas_datos2{
	background-color: #fff;
	background-color: rgb(255, 230, 0);
	border-color: #BBBBBB;
	border-radius: 5px;
	width: 40%;
	box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.Encabezados{
	background-color: rgb(243, 243, 243);
	border-bottom: solid 0.1px;
	border-bottom-color: rgb(175, 25, 175);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
	width: 40%;
	height: 35px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 10px;
}

.ajustarContenido{
	background-color: #fff;
	border: solid 0.1px;
	border-color: rgb(207, 207, 207);
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ajustarContenido2{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divsCointainers{
	width: 100%;
	height: 50%;
	text-align: center;
	
	margin-bottom: 40px;
}

.iconos{
	margin-left: 25px;
	margin-right: 25px;
}

.datos{
	font-family: 'Source Serif Pro', serif;
}

.xl{
	font-size: 40px;
}

.xs{
	font-size: 20px;
}

.nada{
	display: flex;
}
.nada::placeholder { color: red; font-weight: bold; }